<% if (alerts.error) { %>
<% alerts.error.forEach(message => { %>
<div class="div-alert"><%= message %></div>
<% }); %>
<% } %>

<% if (alerts.success) { %>
<% alerts.success.forEach(message => { %>
<div class="div-alert"><%= message %></div>
<% }); %>
<% } %>