<h2>Log In</h2>

<form action="/auth/login" method="post">
  <label for="login-email">Email</label>
  <input id="login-email" type="email" name="email" />

  <label for="login-password">Password</label>
  <input id="login-password" type="password" name="password" />

  <input type="submit" value="Log In" />
</form>
