<section class="sec-signup">
  <div class="div-signup-form">
    <form action="/auth/signup" method="post">
      <label for="signup-first-name">First Name</label>
      <input id="signup-first-name" type="text" name="firstName" />

      <label for="signup-last-name">Last Name</label>
      <input id="signup-last-name" type="text" name="lastName" />

      <label for="signup-email">Email</label>
      <input id="signup-email" type="email" name="email" />

      <label for="signup-password">Password</label>
      <input id="signup-password" type="password" name="password" />

      <input class="button" type="submit" value="Sign Up" />
    </form>
  </div>
  <p class="signup-message">Sign up and get planning.</p>
  <p></p>
</section>
