<section class="sec-hero-main">
  <div class="welcome-message">
    <p class="welcome-heading">Ready to plan your next trip?</p>
    <p class="welcome-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p>
  </div>
  <div class="div-hero-main">

  </div>
</section>