<p>This is the home page.</p>

<!-- Drag and drop test -->
<!-- <div id="container1" class="test-container" ondragover="allowDrop(event)" ondrop="drop(event)">
  <div id="drag1" draggable="true" ondragstart="drag(event)">
    <h1>Item 1</h1>
  </div>
  <div id="drag2" draggable="true" ondragstart="drag(event)">
    <h1>Item 2</h1>
  </div>
  <div id="drag3" draggable="true" ondragstart="drag(event)">
    <h1>Item 3</h1>
  </div>
</div>

<div id="container2" class="test-container" ondragover="allowDrop(event)" ondrop="drop(event)"></div> -->






















<!-- Drag and drop test 2 -->
<section class="container">

  <div class="list-item">
    <div class="item-content">
      <span class="order">1</span> Alpha
    </div>
  </div>

  <div class="list-item">
    <div class="item-content">
      <span class="order">2</span> Bravo
    </div>
  </div>

  <div class="list-item">
    <div class="item-content">
      <span class="order">3</span> Charlie
    </div>
  </div>

  <div class="list-item">
    <div class="item-content">
      <span class="order">4</span> Delta
    </div>
  </div>

</section>

<div class="box green"></div>
<div class="box orange"></div>
<div class="box grey"></div>