<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Trip Planner</title>
  </head>

  <body>
    <%- include('partials/alerts') %>

    <header>
      <h1><a href="/">Trip Planner</a></h1>
      <nav>
        <ul>
          <% if (!currentUser) { %>
          <li><a href="/auth/signup">Sign Up</a></li>
          <li><a href="/auth/login">Log In</a></li>
          <% } else { %>
          <li><a href="/trips">Dashboard</a></li>
          <li><a href="/auth/logout">Log Out</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <%- body %>
    <script src="/api.js"></script>
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initAutocomplete"></script>
    <script src="/app.js"></script>
  </body>

</html>