<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Trip Planner</title>
  </head>

  <body>
    <div class="page-container">

      <!-- Alerts -->
      <%- include('partials/alerts') %>

      <!-- Header -->
      <header>
        <p><a class="link-index" href="/">Trip Planner</a></p>
        <nav>
          <ul>
            <% if (currentUser) { %>
            <li><a class="link-dashboard" href="/trips">Dashboard</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
            <% } %>
          </ul>
        </nav>
      </header>

      <%- body %>

    </div>
  </body>

</html>