input, select, textarea {
  display: block;
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

.sec-dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.div-trip {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: lightgray;
}

.sec-trip-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-trip-info {
  text-align: right;
}

.trip-edit, .trip-delete {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.sec-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: start;
}

.div-day {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: lightgray;
}

.div-day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-segment {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: teal;
}

.segment-edit, .segment-delete {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}